@use 'header';

.heading{
    display: flex;
    justify-content: space-between;
    padding: 7rem 4rem;
    border-bottom-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    background-color: header.$bgColor;

    .intro{
        font-size: 60px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 6rem;

        span{
            color: header.$primaryColor;
        }
    }

    .btn{
        border: 2px solid header.$primaryColor;
        background-color: header.$bgColor;
        color: header.$secondaryColor;
        padding: 1rem;
        margin-top: 2.7rem;
        border-radius: 1rem;
    }

    img{
        border-radius: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .heading{
        display: block;
        padding: 4rem 2rem;
        border-bottom-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
        background-color: header.$bgColor;
    
        .intro{
            font-size: 25px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 13rem;
            margin-left: 1.5rem;
    
            span{
                color: header.$primaryColor;
            }
        }
    
        .btn{
            border: 2px solid header.$primaryColor;
            background-color: header.$bgColor;
            color: header.$secondaryColor;
            padding: .5rem;
            margin:1rem 1.5rem;
            border-radius: .5rem;
        }
    
        img{
            border-radius: 1rem;
            position: absolute;
            top: 5.5rem;
            width: 75%;
            margin: 0 1.5rem;
        }
    }
    
}