$headerBg: grey; 
$primaryColor: rgba(255, 166, 0, 0.849);
$secondaryColor: #ffffff;
$bgColor: black;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    background-color: $headerBg;
    position: fixed;
    width: 100%;

    .header{
       display: flex;
       justify-content: space-between;
       margin: 0 4rem;
       padding: 1rem 0;

       .logo{
        color: $primaryColor;
       }

       .menu-icon{
        display: none;
       }

       .nav-list{
           display: flex;
           list-style-type: none;
       
           a{
               color: $secondaryColor;
               text-decoration: none;
               padding: 1rem;
               font-size: 25px;
           }
       }
    }

}

@media only screen and (max-width:480px) {
    .header-container{
        background-color: $headerBg;
        position: fixed;
        width: 100%;
        z-index: 1;
    
        .header{
           display: flex;
           justify-content: space-between;
           margin:0 2rem;

    
           .logo{
            color: $primaryColor;
            font-size: 17px;
           }
    
           .menu-icon{
            display: block;
            margin-left:13rem;
           }
    
           .nav-list{
               display: none;
               list-style-type: none;
           
               a{
                   color: $secondaryColor;
                   text-decoration: none;
                   padding: 0.5rem;
                   font-size: 15px;
               }

               #github{
                display: none;
               }
           }

           .open ul{
            display: block;
            position: absolute;
            top: 3rem;
            right: 1px;
            padding: 1rem 3rem;
            font-size: 30px;
            background-color: $headerBg;
           }
        }
    
    }
    
}
